.red-text {
    color: #FF0000;
}

.green-text {
    color: #00FF00;
}

.blue-text {
    color: #228BE6;
}

.yellow-text {
    color: #FAB005;
}

.purple-text {
    color: #FF00FF;
}